#div1 {
  background-color: red;
  height: 200px;
  width: 200px;
  border: 4px solid black;
  padding: 2px;
  box-sizing: border-box; /*content-box is the default*/
  /*in border-box it includes the all border padding dimensions*/
}

#outer-div {
  margin: 2px;
  border: 2px solid black;
}
#div2 {
  height: 200px;
  width: 200px;
  border: 2px solid blue;
  margin: 4px;
  padding: 2px;
}
#div3 {
  height: 200px;
  width: 200px;
  border: 2px solid red;
  margin: 4px;
  padding: 54px;
  box-sizing: border-box;
}

#overflow {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  /* overflow: hidden; */
  /* overflow: visible; */
  /* overflow: scroll; */
  /* overflow: auto; */
  /* overflow-x: auto; */
  /* overflow-y: ; */
}
