html {
  font-size: 20px;
  /*rem is relative to root document's element*/
}
#div-id {
  font-size: 14px;
  line-height: 1.5em;
  /*em is realtive to the font-size of immediate parent or trageted element*/
  border-left: 10px solid red;
  /* border: 2px solid red; */
}
#div-id-01 {
  height: 20rem; /*320*/ /* ! rem = 16px */
  /* 75vh; */ /*viewport-height : visible height in the browser*/
  /* 300px; */
  width: 30rem; /*480*/
  /* 75vw; */
  /* 400px; */
  background-color: blue;
  background-color: #15dc64;
  background-color: rgb(240, 148, 365);
  background-color: rgba(240, 148, 365, 0.2);
  background-color: hsla(337, 84%, 46%, 0.567);
  background-color: hsl(340, 65%, 25%);
  /*border*/
  border-width: 10px;
  border-top: 5px;
  border-bottom: 20px;
  border-width: 15px 5px;
  /* border-left-color:black; */
  border-left-width: 15px;
  border-style: solid;
  border-color: rgb(223, 197, 223);
  border-radius: 25px;
  border-bottom-left-radius: 50px;
}

#div-id-02 {
  height: 50%;
  /* 150px; */
  width: 50%;
  /* 200px; */
  background-color: aquamarine;
  border: 5px solid rgb(80, 153, 70);
  border-radius: 10px;
}
#div-id-02 p {
  /* border-left: 10px dotted rgb(4, 0, 255); */
  border: 2px dashed red;
  border-left: 10px dashed rgb(4, 0, 255);
}

#div-id-03 a {
  font-weight: bold;
  text-decoration: none; /*removes the underline from a link*/
}

#outer-div-2 {
  height: 200px;
  width: 200px;
  background-color: coral;
  /* margin: auto; */
  margin-top: 10px;
}

#outer-div-1 {
  height: 200px;
  width: 200px;
  /* width: 50%; */
  background-color: blue;
  margin-bottom: 10px;
  /* border: 10px solid black; */
  padding: -105px;
}
#inner-div {
  height: 50%;
  width: 50%;
  background-color: aqua;
  /* margin: auto; */
}
