#div-id {
  height: 200px;
  width: 200px;
  background-color: blue;
  background-color: #15dc64;
  background-color: rgb(240, 148, 365);
  background-color: rgba(240, 148, 365, 0.2);
  background-color: hsla(337, 84%, 46%, 0.567);
  background-color: hsl(340, 65%, 25%);
}
