#container {
  height: 400px;
  width: auto;
  background-color: grey;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  flex-direction: column-reverse;
  /* flex-wrap: wrap; */
  flex-wrap: wrap-reverse;
  /* flex-wrap: nowrap; */
}
#container div {
  height: 200px;
  width: 200px;
}
#div1 {
  background-color: red;
  /* display: inline-block; */
}
#div2 {
  background-color: cyan;
  /* display: inline-block; */
  /* order: -1; */
}
#div3 {
  background-color: green;
  /* display: inline-block; */
  /* order: 3; */
}
#div4 {
  background-color: orchid;
  /* display: inline-block; */
}
#div5 {
  background-color: yellowgreen;
  /* display: inline-block; */
}
/* #a {
  background-color: blue;
  width: 200px;
  height: 200px;
  display: inline-block;
}
#b {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  display: inline-block;
} */
