#container {
  height: 75vh;
  width: 75vw;
  background-color: grey;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
}
#container div {
  height: 200px;
  width: 200px;
}
#div1 {
  background-color: red;
  /* display: inline-block; */
}
#div2 {
  background-color: cyan;
  /* display: inline-block; */
  order: -1;
}
#div3 {
  background-color: green;
  /* display: inline-block; */
  order: 3;
}
#div4 {
  background-color: orchid;
  /* display: inline-block; */
}

/* #a {
  background-color: blue;
  width: 200px;
  height: 200px;
  display: inline-block;
}
#b {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  display: inline-block;
} */
